@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./scrollbar.css";
@import "@glidejs/glide/dist/css/glide.core.min.css";
@import "@glidejs/glide/dist/css/glide.theme.min.css";
@custom-variant dark (&:where(.dark, .dark *));
@import "@nuxt/ui";

@theme {
  --font-sans: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Hover Effect Utilities */
.hvr-indigo {
  @apply hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors duration-200;
}