@import "tailwindcss";
@import "./scrollbar.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}